<link rel="stylesheet" href="{{ 'sections/styles/latestcollection.css' | asset_url }}">

<section class="collection">
  <div class="title">
    <span><img
        class="iconstart external-star"
        src="{{ 'accessories/start.svg' | asset_url }}"
        alt="icon"></span>
    <h2>
      <span class="inline-star star-one"><img
          class="star-inline"
          src="{{ 'accessories/start.svg' | asset_url }}"
          alt="icon"></span>
      LATEST
      <span class="inline-star star-two"><img
          class="star-inline"
          src="{{ 'accessories/start.svg' | asset_url }}"
          alt="icon"></span>
      COLLECTION
    </h2>
    <span><img
        class="iconstart external-star"
        src="{{ 'accessories/start.svg' | asset_url }}"
        alt="icon"></span>
  </div>
  <div class="images">
    <div><img src="/assets/img/ket_club.jpg" alt=""></div>
    <div><img src="/assets/img/shuffle_essentials.webp" alt=""></div>
    <div><img src="/assets/img/homepage_bottom_banner.avif" alt=""></div>
  </div>
</section>